<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      <h3 th:text="${titulo}"></h3>
      <table border="1">
          <tr>
              <th>Nombre</th><th>Desc.</th><th>Imagen</th>
          </tr>     
  <tr th:each="teq : ${datos}">
      <td th:text="${teq.nombre}"></td>
      <td th:text="${teq.descripcion}"></td>
      <td ><img width="80px" th:src="@{'/images/'+${teq.imagen}}"></img> </td>
  </tr>
  </table>
      
  </body>
</html>
