<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
  <head>
    <title>Inventario Cenade</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- CSS de Bootstrap desde WebJars -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
  </head>
  <body>
      <div th:replace="fragments/header :: header">header</div>
      <!-- Content Wrapper -->
	    <div class="content-wrapper" style="margin-left: 0px;">
		<section class="content pt-3">
		    <div class="container-fluid">
			<div th:replace="${content}"></div>
		    </div>
		</section>
	    </div>
      
      <div th:replace="fragments/footer :: footer">Footer</div>
        <!-- jQuery y JS de Bootstrap desde WebJars -->
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>
